*{
    box-sizing: border-box;
    scrollbar-width: none;
}

:root{
    --gradient: linear-gradient(45deg, #ff7c7d, #ffda67);
    --card-background: #272524
}

body{
    background: var(--gradient);
    color: #fdfcfd;
    background-repeat: no-repeat;
    font-family: "Kanit", serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding: 44px 30px 44px 20px;
    background: var(--card-background);
    border-radius: 24px;
}

.profile-picture{
    max-width: 280px;
    width: 36vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px  rgb(0, 0 ,0 ,8%);
    transition: border-radius 0.3s;
}

.card h2{
    font-size: 22px;
    font-weight: 400;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 10px;
}

.card h3{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    opacity: 0.75;
}

.card p{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0.5;
}

.social > button{
    position: relative;
    border: 0;
    background: transparent;
    color: #f8f8f8;
    padding: 0;
}

.social > button:first-child::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 42px;
    height: 42px;
    translate: -50% -50%;
    border-radius: 50%;
    background: var(--gradient);
    transition: 0.3s;
    transform: translateY(0);
}

.social > button > img{
    position: relative;
    z-index: 1;
    background: #3f3b39;
    border: 4px solid var(--card-background);
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

@media (width <= 600px) {
    .card{
        margin: 0 40px;
        padding-left: 50px;
        padding-bottom: 60px;
        padding-right: 50px;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .card h2{
        margin-right: 0;
        font-size: 26px;
    }

    .profile-picture{
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
        height: 250px;
    }

    .card p{
        max-width: 360px;
    }

    .social{
        justify-content: center;
    }
}

@media(width <= 440px) {
    .profile-picture {
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
        border: 12px solid var(--card-background);
        box-shadow: none;
        margin: -140px 0 30px 0;
    }
}