
menu{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  right: 0;
  align-self: flex-end;
  top: 38%;transform: translateX(30%);

  li{
    padding: 10px 0;
    color: #8e8e93;
    transition: all 0.3s ease;

    &:hover{
      color: #ccc;
      cursor: pointer;
      scale: 1.02;
    }
  }
}

  .projects-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    gap: 40px;
    margin-top: -8rem;
  }

  .project-card {
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    color: white;
    background-image: linear-gradient(to bottom, rgb(35, 35, 35) 5%, rgba(255, 255, 255, 0) 90%);
    border: 2px solid #3f3b39;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

  }

  img{
    width: 22rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 10px;
    opacity: .8;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    p{
      color: #ccc;
    }

    img{
      opacity: 1;
    }
  }

  .project-card p {
    font-size: 14px;
    color: #8e8e93;
    margin-top: 10px;
  }

  .active-menu{
    color: #f56737;
    font-weight: 500;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .project-cards {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .project-cards {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  