* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #f56737;
  --green: #4ecdc4;
  --red: #ff6b6b;
  --green3: #206d32;
  --green4: #00a649;
  --gray1:#8e8e93;
  --gray2: #48484a;
  --blue: #45b7d1;
  --lightGreen: #96ceb4;
  --yellow: #feca57;
  --pink: #ff9ff3;
  --darkBlue: #54a0ff;
}

.container{
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
  padding: 0 4rem;
}


body {
  background: #0a0a0a;
  background-size: cover;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  user-select: none;
  overflow-x: hidden;
}


a {
  text-decoration: none;
  color: inherit;
}

.top-bar {
  position: sticky;
  top: 1%;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a{
    background: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 14px;
  }
}


.nav-links {
  display: flex;
  gap: 5px;
  list-style: none;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.nav-links li a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  text-decoration: none;
  background: transparent;
  backdrop-filter: blur(1px);
  font-weight: 300;
  transition: color 0.3s ease;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: var(--yellow);
}


.name{
  background: transparent;
  backdrop-filter: blur(1px);
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  span{
    font-weight: 200;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  width: 100%;

}
#hero-canvas {
  position: absolute;
  right: -28rem;
  z-index: 1;
  width: 100%;
  overflow-x: hidden;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  padding:0 2rem;
  z-index: 2;
}

.hero-title {
  font-family: 'Kanit', sans-serif;
  font-size: clamp(3rem, 8vw,4rem);
  font-weight: 300 !important;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1;
  position: relative;
}

.hero-number {
  display: inline-block;
  font-weight: 800;
  font-size: clamp(3rem, 8vw,5rem);
  position: relative;
  background: linear-gradient(135deg, var(--primary-color) 0%, #000000 50%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-description {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 300;
  margin-bottom: 40px;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
}

.hero-stats {
  display: flex;
  gap: 4rem;
  margin-bottom: 30px;
  padding-left: 2rem;
}
.stat{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stat span {
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(135deg, #f56737, #feca57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s;
}
.stat:hover span {
  transform: scale(1.2);
}
.stat p {
  font-size: 12px;
  color: #aaa;
  margin-top: 4px;
}


.cta-button {
  display: inline-block;
  padding: 15px 40px;
  background: rgba(255, 255, 255, 1);
  color: #000000;
  text-decoration: none;
  border-radius: 23px;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.cta-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  transition: left 0.6s ease;
}

.cta-button:hover::before {
  left: 100%;
}



.projects-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8rem 2rem;
  gap: 5rem;
  position: relative;
}

.projects-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.projects-intro h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}


.projects-button{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding:0 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 23px;
}
.arrow-wrapper-projects{
  position: relative;
  width: 30px;
  height: 50px;
}

.arrow-project-icon{
  width: 12px;
  position: absolute;
  left: 0;
  top: 18px;
  transition: transform .4s ease, opacity .4s ease;
}

.project-clone{
  left: 25px;
  opacity: 0;
}

.projects-button:hover .arrow-project-icon{
  transform: translateX(-25px);
  opacity: 0;
}

.projects-button:hover .project-clone{
  transform: translateX(-25px);
  opacity: 1;
}

.project-text{
  position: relative;
  p ,a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(143, 143, 143);
  }
}

.projects-slider{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  width: 100%;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 0 10rem;
  background: transparent;
}
.card::before{
  content: "";
  position: absolute;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.card{
  position: relative;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  mask-image: linear-gradient(to bottom right, rgba(72, 72, 73, 0.5), rgba(0,0,0,0.5));
  filter: blur(1px);
  backdrop-filter: blur(12px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;


  img{
    width: 14rem;
    height: 13rem;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.3;
  }

  h3{
    font-size: 15px;
    padding: 20px 0;
    opacity: 0.5;
  }

  p{
    font-size: 12px;
  }
}

.card.active{
  filter: none;
  mask-image: none;
  height: 25rem;
  border-radius: 5px;
  border: 1px solid var(--yellow);
  img{
    width: 18rem;
    height: 16rem;
    opacity: 1;
  }

  h3{
    opacity: 1;
    font-size: 18px;
  }
}



.games-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  margin: 10rem 0;
}
.games-title{
  font-size: 8rem;
  font-weight: 200;
  overflow-x: hidden;
  width: 100%;
  display: inline-block;
}

.games-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  gap: 15px;
  width: 90%;
  height: fit-content;
  max-height: 600px;
}

.div1 { grid-area: 1 / 1 / 4 / 3; }
.div2 { grid-area: 1 / 3 / 3 / 5; }
.div3 { grid-area: 3 / 3 / 5 / 6; }
.div4 { grid-area: 1 / 5 / 3 / 7; }
.div5 { grid-area: 4 / 1 / 5 / 3; }
.div6 { grid-area: 3 / 6 / 5 / 7; }

.games-board a,
.games-board span {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(.8);
  text-decoration: none;
  font-size: 2rem;
}

.games-board a:hover,
.games-board span :hover{
  transform: scale(1.01);
  filter: blur(0px);
}

.games-board a img,
.hangman {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}







.games-board span {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
  height: 100%;

  img{
    object-fit: cover;
  }
}

.games-board span a {
  height: 100%;
}


.about-section{
  width: 100%;
  margin: 10rem 0;
  height: fit-content;

  h1{
    font-size: 3rem;
  }

  p{
    font-size: 1.3rem;
    line-height:1.5;
    position: relative;
    padding: 2rem;
    max-width: 1100px;
  }
}

.about-section p::before{
  content: "";
  position: absolute;
  left: 8px;
  top: 13px;
  height: 90%;
  width: 5px;
  background-color: var(--primary-color);
}


.about-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.slider {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  align-items: center;
  width: var(--width);
  height: 200px;
  flex-grow: 1;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, transparent, #000 10% 90%, transparent);
}

.slider .list {
  display: flex;
  flex-direction: column;
  width: var(--width);
  height: calc(var(--height) * var(--quantity) );
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  animation: autoRun 6s linear infinite;
  animation-delay: calc((6s / var(--quantity)) * (var(--position) - 1));
}

.slider .list .item img {
  width: 100%;
}


.icon {
  width: 20px;
  height: 20px;
  color: #f1eeee;
}


.parallax-footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(to bottom, #1e1c1c, #1E1F22);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-top: 10rem;
  display: flex;
  color: #ffffff;
  transition: transform 0.5s ease-in-out;
}

.footer-content{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-brand p{
  color: var(--gray1);
  font-size: .8rem;
}

.socials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  gap: 2rem;

  h3{
    position: relative;
    font-weight: 100;
  }

  h3::after{
    content: "";
    position: absolute;
    background-color: var(--gray1);
    height: 2px;
    width: 10rem;
    left: -1rem;
    bottom: -5px;
  }

  ul{
    display: flex;
  }
}
.social-link{
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 1rem;

  &:hover{
    svg circle{
      stroke-dasharray: 126, 200;
    }

    .social-icon{
      fill: #f9f9fd;
    }
  }

  .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);

    circle{
      fill: none;
      stroke: var(--primary-color);
      stroke-dasharray: 0, 200;
      transition: stroke-dasharray 0.4s ease-in-out;

    }
  }

  .social-icon{
    width: 2rem;
    fill:#8e8e93;
  }
}

.email{
  align-self: center;
  margin-top: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);

  &:hover{
    color: var(--primary-color);
    transform: scale(1.01);
  }
}

.footer-bottom{
  opacity: 0.2;
  position: absolute;
  bottom: 0;
  right: 0;
}


@keyframes glow {
  0% {
    color: rgba(49, 48, 48, 0.6);
    text-shadow: none;
  }

  100% {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  }
}

@keyframes autoRun {
  from {
    bottom: 100%;
  }
  to {
    bottom: calc(var(--height) * -1);
  }
}





/*
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
  max-width: 95%;
}

.card {
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card a {
  text-decoration: none;
  color: #f1eeee;
}

.card p {
  margin: 10px 0;
}


.project-sub {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.project-sub li {
  transition: color 0.3s ease, transform 0.3s ease;
}

.project-sub li:hover {
  color: #FF6EC7;
  transform: scale(1.1);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid #f1eeee;
  margin-bottom: 2rem;
  gap: 7.6rem;
}

.header a {
  display: flex;
  align-items: center;
}


nav .left .name {
  position: relative;
  left: 0;
}

.back-icon {
  position: absolute;
  left: 10px;
  top: 18%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}


::-webkit-scrollbar {
  display: none;
}


@media screen and (max-width: 1700px){
  .container{
    width: 1400px;
  }
}

@media screen and (max-width: 1500px){
  .container{
    width: 1200px;
  }
}

@media screen and (max-width: 1300px){
  .container{
    width: 1024px;
  }
}

@media screen and (max-width: 1100px){
  .container{
    width: 100vw;
    padding: 0 10rem !important;
  }
}

@media screen and (max-width: 1024px){
  .container{
    padding: 0 6rem !important;
  }
}

@media screen and (max-width: 800px){
  .container{
    padding: 0 3rem !important;
  }
}

@media (max-width: 768px) {
    .hero-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .intro p {
        width: 100%;
    }
    .nav-links {
        display: none;
}
.menu {
  display: flex;
}
}

*/