* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #f56737;
  --gray1:#8e8e93;
  --gray2: #48484a;
}

.container{
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


body {
  background: #000000;
  background-size: cover;
  color: #fff;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

a{
  text-decoration: none;
}


nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  font-size: 1.3rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  li{
    padding: 25px;
  }
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.name {
  font-family: "Kanit", serif;
  font-size: 2rem;
  font-weight: 200;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav ul li a.active {
  color: #f56737;
  font-weight: bold;
}


.hero-section {
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin: 5rem 0;
}

.intro{
  grid-column: 1/ span 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.intro h1 {
  font-family: "Kanit", serif;
  font-weight: 300;
  font-size: 3rem;
  color: rgb(209, 209, 209);
  span{
    font-weight: 400;
    font-size: 3.3rem;
    animation: glow 5s linear 1;
  }
}

.hero-section p {
  padding: 10px 0 50px 10px;
  width: 70%;
  line-height: 30px;
  font-size: 1.1rem;
  color: rgb(143, 143, 143);
}
.side-content{
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.git-simulator{
  margin-top: 2rem;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(7, 20px);
  grid-gap: 5px;
}

.scroll-button{
  width: fit-content;
  margin: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  svg{
    filter: blur(1px);
  }

}
.arrow-wrapper{
  position: relative;
  width: 30px;
  height: 50px;

}

.arrow-icon{
  width: 20px;
  position: absolute;
  stroke-width: 15px;
  left: -56px;
  top: 10px;
  transition: transform .4s ease, opacity .4s ease;
}

.clone{
  top: -50px;
  opacity: 0;
}

.scroll-button:hover .arrow-icon{
  transform: translateY(40px);
  opacity: 0;
}

.scroll-button:hover .clone{
  transform: translateY(60px);
  opacity: 1;
}

.scroll-text{
  position: relative;
  left: -1.8rem;
  top: 2rem;
  p {
    font-size: 2rem;
    color: #ffffff;
    animation: glow 5s linear 1;
  }
}

.square{
  content: '';
  width: 20px;
  height: 20px;
  background-color: #151B22;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}



.projects-section{
  display: flex;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  padding: 10rem 0;

}

.projects-intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 5rem;
  gap: 1rem;

  h1{
    font-size: 3rem;
    line-height: 70px;
  }
}

.projects-button{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1rem 0;

  svg{
    filter: blur(1px);
  }

}
.arrow-wrapper-projects{
  position: relative;
  width: 30px;
  height: 50px;

}

.arrow-project-icon{
  width: 15px;
  position: absolute;
  left: -37px;
  top: 16px;
  transition: transform .4s ease, opacity .4s ease;
}

.project-clone{
  left: -10px;
  opacity: 0;
}

.projects-button:hover .arrow-project-icon{
  transform: translateX(-20px);
  opacity: 0;
}

.projects-button:hover .project-clone{
  transform: translateX(-28px);
  opacity: 1;
}

.project-text{
  position: relative;
  left: -1.3rem;
  p ,a{
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(143, 143, 143);
  }
}

.indicators{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.svg-item{
  transition: transform .4s ease;
  width: 15px;
  height: 15px;
  transform: rotate(-90deg);

  polygon{
    fill:rgb(143, 143, 143);
    stroke:var(--primary-color);
    stroke-width:10;
    stroke-linejoin: round;
    stroke-dasharray: 0,450;
    transition: all 3s ease;
  }
}

.svg-item.active polygon{
    stroke: var(--primary-color);
    fill:none;
    stroke-dasharray: 450,0;
}

.svg-item.active{
  transform: rotate(-90deg) scale(2);
}

.projects-slider{
  display: flex;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 0 10rem;
  background: transparent;
}
.card::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.card{
  position: relative;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  color: white;
  mask-image: linear-gradient(to bottom right, rgba(72, 72, 73, 0.5), rgba(0,0,0,0.5));
  filter: blur(1px);
  backdrop-filter: blur(12px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;


  img{
    width: 18rem;
    height: 17rem;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.3;
  }

  h3{
    font-size: 1.5rem;
    padding: 20px 0;
    opacity: 0.5;
  }
}

.card.active::before{
  border: 2px solid rgba(255, 255, 255, 0.1);
}


.card.active{
  filter: none;
  mask-image: none;
  height: 30rem;
  border-radius: 10px;
  img{
    width: 23rem;
    height: 20rem;
    opacity: 1;
  }

  h3{
    opacity: 1;
  }
}

.games-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  margin: 10rem 0;
}

.games-section h1{
  font-size: 3rem;
}

.games-board {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 2rem;
  gap: 15px;
  width: 90%;
  height: fit-content;
  max-height: 600px;
}

.games-board a,
.games-board span {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(.8px);
  text-decoration: none;
  font-size: 2rem;
}

.games-board a:hover,
.games-board span :hover{
  transform: scale(1.01);
  filter: blur(0px);
}

.games-board a img,
.hangman {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.hangman {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-image: linear-gradient(45deg, var(--primary-color), #ffda67);
  color: white;
  grid-column: span 2;
}

.games-board a:first-child {
  grid-row: span 2;
  img{
    object-fit: cover;
  }
}



.games-board span {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
  height: 100%;

  img{
    object-fit: cover;
  }
}

.games-board span a {
  height: 100%;
}


.about-section{
  width: 100%;
  margin: 10rem 0;
  height: fit-content;

  h1{
    font-size: 3rem;
  }

  p{
    font-size: 1.3rem;
    line-height:1.5;
    position: relative;
    padding: 2rem;
    max-width: 1100px;
  }
}

.about-section p::before{
  content: "";
  position: absolute;
  left: 8px;
  top: 13px;
  height: 90%;
  width: 5px;
  background-color: var(--primary-color);
}


.about-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  height: 200px;
  flex-grow: 1;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, transparent, #000 10% 90%, transparent);
}

.slider .list {
  display: flex;
  flex-direction: column;
  width: var(--width);
  height: calc(var(--height) * var(--quantity) );
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  animation: autoRun 6s linear infinite;
  animation-delay: calc((6s / var(--quantity)) * (var(--position) - 1));
}

.slider .list .item img {
  width: 100%;
}


.icon {
  width: 20px;
  height: 20px;
  color: #f1eeee;
}


.parallax-footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(to bottom, #1e1c1c, #1E1F22);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-top: 10rem;
  display: flex;
  color: #ffffff;
  transition: transform 0.5s ease-in-out;
}

.footer-content{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-brand p{
  color: var(--gray1);
  font-size: .8rem;
}

.socials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  gap: 2rem;

  h3{
    position: relative;
    font-weight: 100;
  }

  h3::after{
    content: "";
    position: absolute;
    background-color: var(--gray1);
    height: 2px;
    width: 10rem;
    left: -1rem;
    bottom: -5px;
  }

  ul{
    display: flex;
  }
}
.social-link{
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 1rem;

  &:hover{
    svg circle{
      stroke-dasharray: 126, 200;
    }

    .social-icon{
      fill: #f9f9fd;
    }
  }

  .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);

    circle{
      fill: none;
      stroke: var(--primary-color);
      stroke-dasharray: 0, 200;
      transition: stroke-dasharray 0.4s ease-in-out;

    }
  }

  .social-icon{
    width: 2rem;
    fill:#8e8e93;
  }
}

.email{
  align-self: center;
  margin-top: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);

  &:hover{
    color: var(--primary-color);
    transform: scale(1.01);
  }
}

.footer-bottom{
  opacity: 0.2;
  position: absolute;
  bottom: 0;
  right: 0;
}


@keyframes glow {
  0% {
    color: rgba(49, 48, 48, 0.6);
    text-shadow: none;
  }

  100% {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  }
}

@keyframes autoRun {
  from {
    bottom: 100%;
  }
  to {
    bottom: calc(var(--height) * -1);
  }
}





/*
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto; 
  max-width: 95%;
}

.card {
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card a {
  text-decoration: none;
  color: #f1eeee;
}

.card p {
  margin: 10px 0;
}


.project-sub {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.project-sub li {
  transition: color 0.3s ease, transform 0.3s ease;
}

.project-sub li:hover {
  color: #FF6EC7;
  transform: scale(1.1);
}

.header {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid #f1eeee;
  margin-bottom: 2rem;
  gap: 7.6rem;
}

.header a {
  display: flex;
  align-items: center;
}


nav .left .name {
  position: relative;
  left: 0; 
}

.back-icon {
  position: absolute;
  left: 10px; 
  top: 18%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}


::-webkit-scrollbar {
  display: none; 
}


@media screen and (max-width: 1700px){
  .container{
    width: 1400px;
  }
}

@media screen and (max-width: 1500px){
  .container{
    width: 1200px;
  }
}

@media screen and (max-width: 1300px){
  .container{
    width: 1024px;
  }
}

@media screen and (max-width: 1100px){
  .container{
    width: 100vw;
    padding: 0 10rem !important;
  }
}

@media screen and (max-width: 1024px){
  .container{
    padding: 0 6rem !important;
  }
}

@media screen and (max-width: 800px){
  .container{
    padding: 0 3rem !important;
  }
}

@media (max-width: 768px) {
    .hero-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .intro p {
        width: 100%;
    }
    .nav-links {
        display: none;
}
.menu {
  display: flex;
}
}

*/