* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


body {
  background: #000000;
  background-size: cover;
  color: #fff;
  font-family: "Roboto", sans-serif;
  user-select: none;
}


nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  font-size: 1.3rem;
}

.nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  li{
    padding: 25px;
  }
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.name {
  font-family: "Kanit", serif;
  font-size: 2rem;
  font-weight: 200;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.hero-section {
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin: 5rem 0;
}

.intro{
  grid-column: 1/ span 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.intro h1 {
  font-family: "Kanit", serif;
  font-weight: 300;
  font-size: 3rem;
  color: rgb(209, 209, 209);
  span{
    font-weight: 400;
    font-size: 3.3rem;
    animation: glow 5s linear 1;
  }
}

.hero-section p {
  padding: 10px 0 50px 10px;
  width: 70%;
  line-height: 30px;
  font-size: 1.1rem;
  color: rgb(143, 143, 143);
}
.side-content{
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.git-simulator{
  margin-top: 2rem;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(7, 20px);
  grid-gap: 5px;
}

.scroll-button{
  width: fit-content;
  margin: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  svg{
    filter: blur(1px);
  }

}
.arrow-wrapper{
  position: relative;
  width: 30px;
  height: 50px;

}

.arrow-icon{
  width: 20px;
  position: absolute;
  left: -56px;
  top: 10px;
  transition: transform .4s ease, opacity .4s ease;
}

.clone{
  top: -50px;
  opacity: 0;
}

.scroll-button:hover .arrow-icon{
  transform: translateY(40px);
  opacity: 0;
}

.scroll-button:hover .clone{
  transform: translateY(60px);
  opacity: 1;
}

.scroll-text{
  position: relative;
  left: -1.8rem;
  top: 2rem;
  p {
    font-size: 2rem;
    color: #ffffff;
    animation: glow 5s linear 1;
  }
}

.square{
  content: '';
  width: 20px;
  height: 20px;
  background-color: #151B22;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}



.projects-section{
  display: flex;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  padding: 5rem 0;

}

.projects-intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;

  h1{
    font-size: 3rem;
    line-height: 70px;
  }
}

.projects-button{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1rem 0;

  svg{
    filter: blur(1px);
  }

}
.arrow-wrapper-projects{
  position: relative;
  width: 30px;
  height: 50px;

}

.arrow-project-icon{
  width: 15px;
  position: absolute;
  left: -37px;
  top: 16px;
  transition: transform .4s ease, opacity .4s ease;
}

.project-clone{
  left: -10px;
  opacity: 0;
}

.projects-button:hover .arrow-project-icon{
  transform: translateX(-20px);
  opacity: 0;
}

.projects-button:hover .project-clone{
  transform: translateX(-28px);
  opacity: 1;
}

.project-text{
  position: relative;
  left: -1.3rem;
  p {
    font-size: 1.2rem;
    color: rgb(143, 143, 143);
  }
}

.indicators{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.svg-item{
  transition: transform .4s ease;
  width: 15px;
  height: 15px;
  transform: rotate(-90deg);

  polygon{
    fill:rgb(143, 143, 143);
    stroke:#f56737;
    stroke-width:10;
    stroke-linejoin: round;
    stroke-dasharray: 0,450;
    transition: all 3s ease;
  }
}

.svg-item.active polygon{
    stroke: #f56737;
    fill:none;
    stroke-dasharray: 450,0;
}

.svg-item.active{
  transform: rotate(-90deg) scale(2);
}

.projects-slider{
  display: flex;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 0 10rem;
  background: transparent;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, rgba(72, 72, 73, 0.5), rgba(0,0,0,0.5));
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.card{
  position: relative;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  color: white;
  mask-image: linear-gradient(to bottom right, rgba(72, 72, 73, 0.5), rgba(0,0,0,0.5));
  filter: blur(1px);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;


  img{
    width: 18rem;
    height: 17rem;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.3;
  }

  h3{
    font-size: 1.5rem;
    padding: 20px 0;
    opacity: 0.5;
  }
}

.card.active::before{
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}


.card.active{
  filter: none;
  mask-image: none;
  height: 30rem;
  background:#000000;
  border-radius: 10px;
  border: 8px solid rgb(245, 103, 55);
  img{
    width: 23rem;
    height: 20rem;
    opacity: 1;
    backdrop-filter: opacity(0.5);
  }

  h3{
    opacity: 1;
  }
}



.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 6rem;
  flex-grow: 1;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.slider .list {
  display: flex;
  width: 100%;
  height: calc(var(--height));
  min-width: calc(var(--width)  * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 9s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc((9s / var(--quantity)) * (var(--position) - 1));
}

.slider .list .item img {
  width: 100%;
}

.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider .item:hover {
  filter: grayscale(0);
}

.icon {
  width: 20px;
  height: 20px;
  color: #f1eeee;
}


@keyframes glow {
  0% {
    color: rgba(49, 48, 48, 0.6);
    text-shadow: none;
  }

  100% {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  }
}

@keyframes autoRun {
  from {
    left: 100%;
  }

  to {
    left: calc(var(--width) * -1);
  }
}





/*
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto; 
  max-width: 95%;
}

.card {
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card a {
  text-decoration: none;
  color: #f1eeee;
}

.card p {
  margin: 10px 0;
}


.project-sub {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.project-sub li {
  transition: color 0.3s ease, transform 0.3s ease;
}

.project-sub li:hover {
  color: #FF6EC7;
  transform: scale(1.1);
}

.header {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid #f1eeee;
  margin-bottom: 2rem;
  gap: 7.6rem;
}

.header a {
  display: flex;
  align-items: center;
}


nav .left .name {
  position: relative;
  left: 0; 
}

.back-icon {
  position: absolute;
  left: 10px; 
  top: 18%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}


::-webkit-scrollbar {
  display: none; 
}


@media screen and (max-width: 1700px){
  .container{
    width: 1400px;
  }
}

@media screen and (max-width: 1500px){
  .container{
    width: 1200px;
  }
}

@media screen and (max-width: 1300px){
  .container{
    width: 1024px;
  }
}

@media screen and (max-width: 1100px){
  .container{
    width: 100vw;
    padding: 0 10rem !important;
  }
}

@media screen and (max-width: 1024px){
  .container{
    padding: 0 6rem !important;
  }
}

@media screen and (max-width: 800px){
  .container{
    padding: 0 3rem !important;
  }
}

@media (max-width: 768px) {
    .hero-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .intro p {
        width: 100%;
    }
    .nav-links {
        display: none;
}
.menu {
  display: flex;
}
}

*/