@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}


.card-container{
    position: relative;

}


.card{

    position: relative;
    background-color: #fff;
    width: 340px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 1.5rem;
    cursor: pointer;
    box-shadow: 0px 0px 20px 2px #dadada;
    transition: all 0.5s ease-in-out;
}

#front{
    width: 340px;
    height: 290px;
    border-radius: 1rem;
}

.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
  
  h2{
     font-family: "Comfortaa", sans-serif;
     font-weight: 700;
     position: relative;
     top: 0rem;
  }

  p{
    position: relative;
    top: -2rem;
    font-size: 16px;
  }

  span{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -1.3rem;
  }
}


.button{
    background: none;
    width: 90%;
    height: 50px;
    border-radius:  1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Roboto", sans-serif;
    font-weight: 500;


    &:hover{
        background-color: #131313;
        border: none;
        color: #fff;
        font-size: 16px;
    }
}



.slider{
    width: 340px;
    height: 400px;
    position: relative;
    overflow: hidden;

}

.list{
    position: absolute;
    top: 2.3rem;
    left: 0;
    height: 100%;
    width: max-content;
    display: flex;
    transition: 1s;
}

.list img{
  width: 340px;
  height: 290px;
  object-fit: cover;
  border-radius: 1rem;
}

.buttons{
    position: absolute;
    top: 40%;
    width: 80%;
    display: flex;
    justify-content: space-between;

    img{
        width: 10px;
    }
}

.buttons button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: "Roboto", sans-serif;
    font-family: bold;
    display: flex;
    justify-content:center;
    align-items: center;
}

#prev{
    position: absolute;
    left: .2rem;
}

#next{
    position: absolute;
    right: -4.1rem;
}

.dots{
    position: absolute;
    bottom: 5.5rem;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;


    li{
        list-style: none;
        width: 5px;
        height: 5px;
        background-color: #fff;
        margin: 5px;
        border-radius: 250%;
        transition: 1s;
    }
}

.dots li.active{
    background-color: rgba(173, 32, 32, 1);
}

.back-card{
    position: absolute;
    top: 6rem;
    transition: all 0.2s ease-in-out;
}

.card-container:hover .card.front {
    transform: translate(3rem, 7rem) rotate(15deg);
}

.card-container:hover .card.front + .back-card {
    transform: translate(-2rem, -8rem) rotate(-2deg);
}


.back{
    z-index: 0;
}

.front{
    z-index: 100;
    
}