body{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.item{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 3rem;
    color: #fff;
}

.underline{
    width: 200px;
    display: flex;
}

.handle{
    width: 50px;
    height: 13px;
    background: rgb(80, 80, 80);
    border-radius: 15px 0 0 15px;
    position: relative;
}

.dot{
   width: 7px;
   height: 7px;
   background: rgb(202, 202, 202);
   position: absolute;
   left: 8px;
   top: 3px;
   border-radius: 50%;
}


.line{
   background: rgb(0, 239, 60);
   box-shadow: 0 0 15px 0 rgb(154, 206, 249);
   width: 0px;
   border-radius: 0 15px 15px 0;
   transition: width .7s;
}

ul li:hover .line{
    width: 150px;
}