body{
  margin: 0;
  padding: 0;
  
  .container{
    width: 100%;
    position: absolute;
    padding-top: 20px;
    display: flex;
    gap: 5px;
    justify-content: center;
    span{
      width: 25px;
      height: 25px;
      border-radius: 15px;

      &:hover{
        scale: 1.2;
      }
    }

    button{
      border: none;
      color: aliceblue;
      width: 50px;
      border-radius: 5px;

      &:hover{
        scale: 1.05;
      }
    }
  }
 }