:root {
  --backgroundcolor: rgb(245, 242, 242);
  --light: rgba(243, 248, 255, 0.8);
  --primery-color: rgb(252, 103, 54);
  --secondry-color: rgb(255, 176, 176);
}

body {
  background-color: rgb(71, 64, 61);
  color: black;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  width: 500px;
  height: 550px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px -7px 49px -8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.card.flipped {
  transform: rotateY(180deg);
  border: 2px solid var(--primery-color);
}

img {
  width: 80%;
  height: auto;
}

button {
  border: none;
  background-color: var(--primery-color);
  color: var(--light);
  height: 30px;
  width: 100px;
  border-radius: 15px;
  margin-top: 10px;
  text-align: center;
 position: relative;
 left: 12.5rem;
}

button:hover {
  cursor: pointer;
}

.card {
  perspective: 1000px;
  border-radius: 5px;
}

.card .inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .inner {
  cursor: pointer;
}

.card .front,
.card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 5px;
}

.card .front {
  background-color: var(--primery-color);
}

.card .back {
  border: 2px solid var(--primery-color);
  transform: rotateY(180deg);
}

@media (max-width: 768px) {
  .game-board {
    width: 80%;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(95px, 0fr));
  }

  .card {
    width: 80px;
    height: 80px;
  }

  img {
    width: 60px;
    height: auto;
  }

  button {
    width: 80px;
    height: 25px;
    left: 9.5rem;
  }
}

@media (max-width: 480px) {
  .game-board {
    width: 90%;
    gap: 5px;
    padding: 10px;
  }

  .card {
    width: 60px;
    height: 60px;
  }

  img {
    width: 50px;
    height: auto;
  }

  button {
    width: 70px;
    height: 20px;
    left: 8rem;
  }
}
